[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
pymongo = ">=3.12.0"
dnspython = ">=2.2.0"
mongoengine = "==0.23.1"
mongomock = "==3.23.0"
web3 = "==5.26.0"
eth-account = "==0.5.6"
eth-utils = "==1.10.0"
eth-rlp = "==0.2.1"
pydantic = ">=1.9.0"
python-dotenv = "*"

[dev-packages]
black = "*"
pytest = ">=6.2.5"
pytest-cov =">=3.0.0"
pytest-mock =">=3.6.1"
pre-commit = "*"

[requires]
python_version = "3.9"
